{% extends "layouts/app.twig" %}

{% block title %}
    Produtos: Lista
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Produtos</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <form method="GET" action="{{ path_for('products.index') }}" class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Nome</label>
                                    <input class="form-control" name="name" value="{{ product.name }}" type="text">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Tipo</label>
                                    <select class="form-control custom-select" name="product_type">
                                        <option value=""></option>
                                        {% for product_type in product_types %}
                                            <option value="{{ product_type.id }}" {{ product_type.id==product.product_type_id ? "selected" : "" }}>{{ product_type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-info" type="submit">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-3">
                        <a href="{{ path_for('products.create') }}">
                            <button class="btn btn-success" type="button">
                                <i class="material-icons">add</i>
                                Adicionar Produto
                            </button>
                        </a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th class="col-md-7">
                                    Nome
                                </th>
                                <th class="col-md-3">
                                    Tipo
                                </th>
                                <th class="col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.type }}</td>
                                    <td class="text-right">
                                        <a href="{{ path_for('products.edit', {'id': product.id}) }}">
                                            <button class="btn btn-warning btn-link btn-sm" data-original-title="Editar" rel="tooltip" title="" type="button">
                                                <i class="material-icons">create</i>
                                            </button>
                                        </a>
                                        <button class="btn btn-danger btn-link btn-sm" data-original-title="Excluir" rel="tooltip" title="" type="button" onclick="validateDelete('{{ path_for('products.delete', {'id': product.id}) }}')">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if quantity_pages > 1 %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                        {% for i in 1..quantity_pages %}
                            <li class='page-item {{ i==current_page ? "active" : "" }}'><a href="{{ uri }}&page={{ i }}" class='page-link'>{{ i }}</a></li>
                        {% endfor %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
